<a href="https://colab.research.google.com/github/gloriabee/ML_Engineer_Journey/blob/main/Python_Crash_Course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Single Line Comment

In [9]:
# This is single line comment

'''This is
multiline
comments'''

'This is\nmultiline\ncomments'

### Variable Declaration

In [10]:
name="Gloria"
Name="Win Nyunt"
print(name)
print(Name)

Gloria
Win Nyunt

## Indentation

In [11]:
age=32
if age>30:
  print(age)
print(age)

32
32

## Data Types

In [12]:
age=32
height=6.1
name="Gloria"
is_student=True

print(type(age))
print(type(height))
print(type(name))
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### Type Conversion

In [13]:
age='25'
age=int(age)
print(type(age))

<class 'int'>

In [14]:
height=5.11
type(height)
float(int(height))

5.0

In [15]:
## Dynamic Typing
var=10
print(var,type(var))

var="hello"
print(var,type(var))

10 <class 'int'>
hello <class 'str'>

In [16]:
a=10
b=10
type(a==b)

bool

In [17]:
result="Hello"+str(5)
print(result)

Hello5

## Input

In [ ]:
age=int(input("How old are you?"))
print(age,type(age))

### Operators in python

In [ ]:
a=10
b=5

add_result=a+b
sub_result=a-b
mul_result=a*b
div_result=a/b
floor_div_result=a//b
modulus_result=a%b
exponent_result=a**b

print("addition: ",add_result)
print("subtraction: ",sub_result)
print("multiplication: ",mul_result)
print("division: ",div_result)
print("floor division: ",floor_div_result)
print("modulus: ",modulus_result)
print("exponent: ",exponent_result)

## Comparison Operators

In [ ]:
a=10
b=10
print(a==b)

str1="Gloria"
str2="gloria"
print(str1==str2)

# Not equal to
str1!=str2

#Greater than
num1=45
num2=55
print(num1>num2)

#Less than
print(num1<num2)

#greater than equal to
num1=45
num2=45
print(num1>=num2)
print(num1<=num2)

## Logical Operators

In [ ]:
from re import T
## And, Not, OR
X=True
Y=False
result= X and Y
print(result)

result= X or Y
print(result)

result= not X
print(result)

**Question 4:** Write a Python program to find the largest of three numbers.

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
print(max(num1,num2,num3))

**Question 5:** Write a Python program to calculate the factorial of a number.

In [ ]:
# from math import factorial
# print(factorial(4))

**Question 7:** Write a Python program to swap the values of two variables.

In [ ]:
a=5
b=7
a,b=b,a
print(a)
print(b)

**Question 8:** Write a Python program to convert Celsius to Fahrenheit.

In [ ]:
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print(f"{celsius}°C is equal to {fahrenheit}°F")

**Question 16:** Write a Python program to find the sum of the first n natural numbers.

In [ ]:
# Solution
n = int(input("Enter a number: "))
sum_n = (n * (n + 1)) // 2
print(f"The sum of the first {n} natural numbers is {sum_n}")

**Question 17:** Write a Python program to check if a year is a leap year.

In [ ]:
# Solution
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

**Question 18:** Write a Python program to reverse a string.

In [ ]:
string=input('Enter a string')
print(string[::-1])

**Question 19:** Write a Python program to check if a string is a palindrome.

In [ ]:
string=input('Enter a string')
if string==string[::-1]:
  print('Palindrome')
else:
  print('Not Palindrome')

**Question 20:** Write a Python program to sort a list of numbers in ascending order.

In [ ]:
# list=[10,4,2,42]
# print(sorted(list))

## Conditional Statements

In [ ]:
## if elseif else statement

age=19
if age<13:
  print("You are a child")
elif age<18:
  print("You are a teenager")
else:
  print("You are an adult")

In [ ]:
# Nested Conditional Statements
num=int(input("Enter a number"))

if num>0:
  print("The number is positive")
  if num%2==0:
    print("The number is even")
  else:
    print("The number is odd")
else:
  print("The number is negative")

## Loops in Python

In [ ]:
# for loop
for i in range(5):
  print(i)

for i in range(1,6):
  print(i)

for i in range(1,10,2):
  print(i)

for i in range(10,1,-2):
  print(i)

In [ ]:
# Strings

str='Gloria Win Nyunt'
for i in str:
  print(i)

In [ ]:
# While loop

count=0
while count<5:
  print(count)
  count=count+1

In [ ]:
# loop control statements
# break statement
for i in range(10):
  if i==4:
    break
  print(i)

In [ ]:
# loop control statements
# continue statement
for i in range(10):
  if i==4:
    continue
  print(i)

In [ ]:
# pass
## The pass statement is a null operation; it does nothing

for i in range(5):
  if i==3:
    pass
  print(i)

In [ ]:
# Nested loops
# a loop inside a loop
for i in range(3):
  for j in range(2):
    print(i,j)

In [ ]:
# Calculate the sum of first N natural numbers using a while and for loop

# using while loop
n=10
sum=0
while n>0:
  sum=sum+n
  n=n-1
print(sum)

# using for loop
sum=0
for i in range(11):
  sum=sum+i
print(sum)

In [ ]:
# Prime numbers between 1 and 100
for num in range(1,101):
  if num>1:
    for i in range(2,num):
      if num%i==0:
        break
    else:
      print(num)

Write a program that prints all the numbers from 1 to 10 using a for loop.

In [ ]:
for i in range(1,11):
  print(i)

Write a program that prints a 5x5 grid of asterisks (*) using nested loops.

In [ ]:
for i in range(5):
  for j in range(5):
    print("*",end="")
  print("")

Write a program that asks the user to input numbers until they input 0. The program should print the sum of all the input numbers.

In [ ]:
# sum=0
# num=int(input("Enter number"))
# while num!=0:
#   sum+=num
#   num=int(input("Enter number"))
# print(sum)

total=0
while True:
  num=float(input("Enter a number: "))
  if num==0:
    break
  total+=num
print(total)

In [ ]:
#Write a program that prints all the numbers from 1 to 10 except 5 using a for loop and continue statement.
for i in range(1,11):
  if i==5:
    continue
  print(i)

<!-- Write a program that asks the user to input a number and prints all the even numbers from 1 to that number using a for loop. -->

Write a program that asks the user to input a number and prints all the even numbers from 1 to that number using a for loop.

In [ ]:
num= int(input('Enter a number: '))
for i in range(1,num+1):
  if i%2==0:
    print(i)

Write a program that calculates the factorial of a number input by the user using a while loop.

In [ ]:
num=int(input("Enter a number"))
fact=1
i=1
while i<=num:
  fact*=i
  i+=1
print(fact)

Write a program that calculates the sum of the digits of a number input by the user using a while loop.

In [ ]:
number = int(input("Enter a number: "))
sum_of_digits = 0
while number > 0:
    digit = number % 10
    sum_of_digits += digit
    number = number // 10
print(f"The sum of the digits is {sum_of_digits}.")

Write a program that checks if a number input by the user is a prime number using a for loop.

In [ ]:
number = int(input("Enter a number: "))
is_prime = True
if number <= 1:
    is_prime = False
else:
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            is_prime = False
            break
if is_prime:
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

Write a program that prints the first n Fibonacci numbers, where n is input by the user.

In [ ]:
n = int(input("Enter the number of Fibonacci numbers to print: "))
a, b = 0, 1
count = 0
while count < n:
    print(a)
    a, b = b, a + b
    count += 1

## Lists and List Comprehension

In [ ]:
list=["gloria","baby",1,2,3]
print(type(list))
print(list)
for i in list:
  print(i,type(i))

In [ ]:
# Accessing list items
fruits=["apple","banana","cherry","kiwi","mango","grape"]
print(fruits[0]) # first index
print(fruits[-1]) # last index

In [ ]:
print(fruits[1:]) # start from specific index to end

In [ ]:
print(fruits[::-1]) # reverse items of list

In [ ]:
print(fruits[-2:])

In [ ]:
#change banana to watermelon
fruits[1]="watermelon"
print(fruits)

In [ ]:
# list methods


fruits=["apple","banana","cherry","kiwi","mango","grape"]
# appending
fruits.append('guava')

# inserting  (index number, data)
fruits.insert(1,'orange')
fruits

In [ ]:
# removing the first occurance of an item
fruits.remove('cherry')

In [ ]:
fruits

In [ ]:
## remove and return the last
fruits.pop()

In [ ]:
fruits

In [ ]:
# print the index
index=fruits.index('kiwi')
print("index of kiwi",index)

In [ ]:
fruits.insert(2,'orange')
fruits

In [ ]:
# couning the item
print(fruits.count('orange'))

In [ ]:
fruits.reverse()

In [ ]:
fruits

In [ ]:
# removing all items from the list
fruits.clear()

In [ ]:
fruits

In [ ]:
#slicing list
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2]) #jump 2 steps
print(numbers[::-1])
print(numbers[::]) # all items
print(numbers[::3])

In [ ]:
# Iterating over list
for fruit in fruits:
  print(fruit)

In [ ]:
## iterating with index
for index,number in enumerate(numbers):
  print(index,number)